<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

<mat-nav-list>
    <a mat-list-item *ngIf="isOwner" (click)="saveMap()">
      <span mat-line>Save Map</span>
      <span mat-line>Save current map</span>
    </a>
  
    <a mat-list-item (click)="downloadMap('png')">
      <span mat-line>Download Map as PNG</span>
      <span mat-line>Get the map in .png format</span>
    </a>

    <a mat-list-item (click)="downloadMap('jpeg')">
      <span mat-line>Download Map as JPEG</span>
      <span mat-line>Get an image in .jpg or .jpeg format</span>
    </a>
  
    <a mat-list-item (click)="downloadMap('pdf')">
      <span mat-line>Download Map as PDF</span>
      <span mat-line>Get an image in .pdf format</span>
    </a>

    <a mat-list-item (click)="downloadMap('svg')">
        <span mat-line>Download Map as SVG</span>
        <span mat-line>Get the map in .svg format</span>
      </a>
  </mat-nav-list>