.create-btn {
  right: 2%;
  bottom: 5%;
  position: fixed;
}

mat-sidenav {
  width: 15%;
}

mat-slider {
  min-width: 120px;
  width: 120px;
}

mat-progress-bar {
  position: fixed;
  top: 0;
}

.sites-field {
  width: 100px;
}

.render-btn {
  margin-left: 10px;
}