.open-btn {
  right: 3%;
  bottom: 3%;
  position: fixed;
}

mat-sidenav {
  width: 15%;
}

mat-slider {
  min-width: 120px;
  width: 120px;
}

mat-progress-bar {
  position: fixed;
  top: 0;
}

table {
  width: 100%;
}

.mat-table {
  display: block;
  padding-left: 10px;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  align-items: center;
  min-height: 48px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  text-align: center;
  display: table-cell;
  word-wrap: break-word;
  vertical-align: middle;
}

.sites-field {
  width: 100px;
}

.render-btn {
  margin-left: 10px;
}

.map-container {
  display: flex;
}

.canvas-container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.operation-container {
  flex: 0 1 auto;
  overflow: scroll;
}

.canvas-info, .canvas-panel {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgb(203, 197, 185);
}

#cursorCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .map-container {
    display: inherit;
  }

  .canvas-container {
    position: relative;
    width: 100%;
    min-height: 450px;
  }

  .operation-container {
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .canvas-container {
    min-height: 300px;
  }
}