<app-sidenav></app-sidenav>
<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    Archieved
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dashboard-container" [style.backgroundColor]="'#CBC5B9'">
      <canvas id="myCanvas" width="1420" height="920">
        Your browser does not support canvas
      </canvas>
    </div>
    <div class="example-button-row">
      <button mat-fab class="create-btn" color="primary" matTooltip="Save Map" (click)="saveMap()">
        <mat-icon *ngIf="!loading" aria-label="create a map">save</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>