<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

<div class="login-container">
	<mat-card class="login-card">
		<img mat-card-image src="assets/images/metropolist.png"
			alt="Metropolist">
		<mat-card-header class="login-header">
			<mat-card-title>Log in</mat-card-title>
			<mat-card-subtitle>to continue to Metropolist</mat-card-subtitle>
		</mat-card-header>

		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<mat-form-field class="form-field" appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput required formControlName="email" placeholder="">
				<mat-error *ngIf="loginForm.controls['email'].errors?.required">Email is required.</mat-error>
				<mat-error *ngIf="loginForm.controls['email'].errors?.email">Email should be typed in right format.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="form-field" appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput required formControlName="password" placeholder=""
					[type]="hide ? 'password' : 'text'">
				<mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
				</mat-icon>
				<mat-error *ngIf="loginForm.controls['password'].errors?.required">Confirm password is required.
				</mat-error>
				<mat-error *ngIf="loginForm.controls['password'].errors?.minLength">Minimum 3 characters needed.
				</mat-error>
			</mat-form-field>

			<mat-card-actions>
				<a [routerLink]="['/signup']">Create account</a>
				<button mat-raised-button color="primary" [disabled]="loginForm.invalid || loading" type="submit">
					Log in
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>