.login-container {
  padding: 5%;
  height: auto;
  max-height: 80%;
  display: block;
  text-align: center;
  flex-direction: column;
}

.login-card {
  width: 420px;
  height: inherit;
  max-width: 90%;
  margin-top: 3%;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;

  .login-header {
    margin-left: 25%;
  }
}

.login-card > * {
  margin: auto;
  width: 60%;
  padding: 3% 0;
}

@media only screen and (max-width: 600px) {
  .login-container {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .login-card {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 30% 0 0 0;

    .login-header {
      margin-left: 20%;
    }
  }

  .login-card > * {
    margin: auto;
    width: 70%;
    padding: 2%;
  }

  .login-card > * {
    margin: auto;
    width: 70%;
    padding: 2%;
  }
}
