.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.nav-img {
 margin-top: 10px;
}

.nav-btn {
  margin: 5px;
}