<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row class="toolbar">
    <span class="nav-img-span pointer" [routerLink]="['/community']">
      <img class="nav-img" src="assets/images/metropolist.png" alt="Metropolist" width="282" height="40">
    </span>
    <span class="example-spacer"></span>

    <button class="nav-btn" mat-icon-button [routerLink]="['/community']" matTooltip="Community"
      matTooltipClass="tooltip-black">
      <mat-icon class="md-24 pointer">home</mat-icon>
    </button>

    <button class="nav-btn" mat-icon-button [routerLink]="['/dashboard']" matTooltip="Dashboard"
      matTooltipClass="tooltip-black">
      <mat-icon class="md-24 pointer">dashboard</mat-icon>
    </button>

    <button class="nav-btn" mat-icon-button [matMenuTriggerFor]="theme" matTooltip="Theme"
      matTooltipClass="tooltip-black">
      <mat-icon class="md-24 pointer">format_color_fill</mat-icon>
    </button>

    <button class="nav-btn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="md-24 pointer">account_circle</mat-icon>
    </button>

    <mat-menu #theme="matMenu">
      <button mat-menu-item color="accent" [disabled]="currentTheme === 'default'" (click)="onChangeTheme('default')">
        <mat-icon aria-label="default theme">brightness_5</mat-icon>
        <span>Default Theme</span>
        <mat-icon aria-label="check" *ngIf="currentTheme === 'default'" [ngStyle]="{'color': 'green'}">check</mat-icon>
      </button>

      <button mat-menu-item color="accent" [disabled]="currentTheme === 'dark'" (click)="onChangeTheme('dark')">
          <mat-icon aria-label="dark theme">brightness_4</mat-icon>
          <span>Dark Theme</span>
          <mat-icon aria-label="check" *ngIf="currentTheme === 'dark'" [ngStyle]="{'color': 'green'}">check</mat-icon>
        </button>

      <button mat-menu-item color="accent" [disabled]="currentTheme === 'nature'" (click)="onChangeTheme('nature')">
        <mat-icon aria-label="nature theme">brightness_6</mat-icon>
        <span>Nature Theme</span>
        <mat-icon aria-label="check" *ngIf="currentTheme ==='nature'" [ngStyle]="{'color': 'green'}">check</mat-icon>
      </button>

      <button mat-menu-item color="accent" [disabled]="currentTheme === 'light'" (click)="onChangeTheme('light')">
        <mat-icon aria-label="light theme">brightness_7</mat-icon>
        <span>Light Theme</span>
        <mat-icon aria-label="check" *ngIf="currentTheme === 'light'" [ngStyle]="{'color': 'green'}">check</mat-icon>
      </button>
    </mat-menu>

    <mat-menu #menu="matMenu">
      <mat-card *ngIf="currentUser">
        <mat-card-header class="sidenav-card-hrader">
          <div mat-card-avatar class="avatar pointer mat-elevation-z2" [routerLink]="['/profile']"></div>
          <mat-card-title class="sidenav-card-title">{{currentUser.firstname}} {{currentUser.lastname}}</mat-card-title>
          <mat-card-subtitle class="sidenav-card-title">{{currentUser.email}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon>account_box</mat-icon>
            <span>Profile</span>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-menu-item [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-menu-item (click)="logout()">
            <mat-icon>input</mat-icon>
            <span>Log out</span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>