.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenax-card-title {
  max-width: 200px;
  word-wrap: break-word;
}

.example-header-image {
  background-image: url('src/assets/images/avatar-0.jpg');
  background-size: cover;
}

.nav-img {
 margin-top: 10px;
}

.nav-btn {
  margin: 5px;
}