// $app-primary: mat-palette($mat-indigo, 800, 300, 900);
// $app-accent: mat-palette($mat-light-blue);
// $app-warn: mat-palette($mat-pink, 600);

// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$app-primary: mat-palette($mat-blue-grey);
$app-accent:  mat-palette($mat-pink, 500, 900, A100);
$app-warn:    mat-palette($mat-deep-orange);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);