<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

<div class="signup-container">
  <mat-card class="signup-card">
    <img mat-card-image src="https://fontmeme.com/permalink/180923/7d95b1af3bc6a2edd6b5c31370e73e2d.png"
      alt="Photo of a Shiba Inu">
    <mat-card-header class="center">
      <mat-card-title>Create your Account</mat-card-title>
      <mat-card-subtitle>to start with Metropolist</mat-card-subtitle>
    </mat-card-header>

    <div class="row">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">


        <div class="col l12 s12">
          <mat-form-field class="form-field">
            <input formControlName="email" matInput placeholder="Enter your email" required>
            <mat-error *ngIf="signUpForm.controls['email'].errors?.required">Email is required.</mat-error>
            <mat-error *ngIf="signUpForm.controls['email'].errors?.email">Email should be typed in right format.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col l6 s12">
          <mat-form-field class="form-field">
            <input formControlName="firstname" matInput placeholder="Firstname" required>
            <mat-error>Firstname is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="col l6 s12">
          <mat-form-field class="form-field">
            <input formControlName="lastname" matInput placeholder="Lastname" required>
            <mat-error>Lastname is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="col l12 s12">
          <mat-form-field class="form-field">
            <input formControlName="password" matInput required placeholder="Password"
              [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="signUpForm.controls['password'].errors?.required">Password is required.</mat-error>
            <mat-error *ngIf="signUpForm.controls['password'].errors?.minLength">Minimum 3 characters needed.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col l12 s12">
          <mat-form-field class="form-field">
            <input formControlName="confirmPassword" matInput required placeholder="Confirm password"
              [type]="hide ? 'password' : 'text'" [errorStateMatcher]="passwordMatcher">
            <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="signUpForm.hasError('notSame')">Passwords do not match</mat-error>
          </mat-form-field>
        </div>

        <div class="col l12 s12">
          <p>Already have an account? Go <a mat-button [routerLink]="['/login']">Log in</a></p>
        </div>

        <mat-card-actions>
          <a mat-raised-button color="warn" (click)="onClear()">Clear</a>
          <button mat-raised-button color="primary" [disabled]="signUpForm.invalid || loading" type="submit">Sign
            up</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>