<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

<div class="signup-container">
  <mat-card class="signup-card">
    <img mat-card-image src="assets/images/metropolist.png"
      alt="Metropolist">
    <mat-card-header class="signup-header">
      <mat-card-title>Create your Account</mat-card-title>
      <mat-card-subtitle>to start with Metropolist</mat-card-subtitle>
    </mat-card-header>

    <div class="row">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
        <div class="col l12 s12">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="" required>
            <mat-error *ngIf="signUpForm.controls['email'].errors?.required">Email is required.</mat-error>
            <mat-error *ngIf="signUpForm.controls['email'].errors?.email">Email should be typed in right format.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col l6 s12">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Firstname</mat-label>
            <input formControlName="firstname" matInput placeholder="" required>
            <mat-error>Firstname is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="col l6 s12">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Lastname</mat-label>
            <input formControlName="lastname" matInput placeholder="" required>
            <mat-error>Lastname is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="col l12 s12">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput required placeholder="" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="signUpForm.controls['password'].errors?.required">Password is required.</mat-error>
            <mat-error *ngIf="signUpForm.controls['password'].errors?.minLength">Minimum 3 characters needed.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col l12 s12">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Confirm</mat-label>
            <input formControlName="confirmPassword" matInput required placeholder=""
              [type]="hide ? 'password' : 'text'" [errorStateMatcher]="passwordMatcher">
            <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="signUpForm.hasError('notSame')">Passwords do not match</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col l12 s12">
            <a [routerLink]="['/login']">Log in instead</a>
            <!-- <p>Already have an account? Go <a mat-stroked-button [routerLink]="['/login']">Log in instead</a></p> -->
          </div>
        </div>

        <mat-card-actions>
          <a mat-raised-button color="warn" (click)="onClear()">Clear</a>
          <button mat-raised-button color="primary" [disabled]="signUpForm.invalid || loading" type="submit">Sign
            up</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>