.signup-container {
  padding: 5%;
  height: auto;
  max-height: 80%;
  display: block;
  text-align: center;
  flex-direction: column;
}

.signup-card {
  width: 420px;
  height: inherit;
  max-width: 90%;
  margin-top: 2%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

.signup-card > * {
  margin: auto;
  width: 51%;
  padding: 2%; 
}

@media only screen and (max-width: 600px) {
  .signup-card > * {
    margin: auto;
    width: 70%;
    padding: 2%; 
  }
}