.operation-btn {
  margin: 3%;
}

.create-btn {
  right: 3%;
  bottom: 3%;
  position: fixed;
}

.map-img {
  width: 142px;
  height: 92px;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  .map-img {
    width: 71px;
    height: 46px;
  }

  .operation-btn {
    margin: 0;
  }
}