mat-card {
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.operation-btn {
  margin: 10px;
}

.create-btn {
  right: 2%;
  bottom: 5%;
  position: fixed;
}
