<app-nav></app-nav>
<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

<div class="container">
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Personal Info">
      <mat-card class="padding-0 mat-elevation-z0">
        <mat-card-header class="profile-backgound" [ngStyle]="{'background-image': getBackground()}"
          (mouseenter)="isBgEnter = true" (mouseleave)="isBgEnter = false">
          <button mat-icon-button class="mat-elevation-z1 bg-camera-btn" *ngIf="isBgEnter" type="button"
            matTooltip="Upload background image" matTooltipClass="tooltip-black">
            <mat-icon>camera_alt</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-header class="profile-header">
          <div class="profile-avatar center" (mouseenter)="isEnter = true" (mouseleave)="isEnter = false">
            <button mat-icon-button class="mat-elevation-z1 avatar-camera-btn" *ngIf="isEnter" type="button"
              matTooltip="Upload avatar" matTooltipClass="tooltip-black">
              <mat-icon>camera_alt</mat-icon>
            </button>
            <img mat-card-avatar src="assets/images/avatar-0.jpg" class="avatar mat-elevation-z2" />
          </div>
          <!-- <button mat-icon-button class="mat-elevation-z0 edit-btn">
              <mat-icon>edit</mat-icon>
            </button> -->
        </mat-card-header>
        <mat-card-title class="profile-username center" *ngIf="currentUser">{{currentUser.firstname}}
          {{currentUser.lastname}}</mat-card-title>
      </mat-card>

      <div class="row">
        <div class="col l6 s12">
          <form [formGroup]="emailForm" (ngSubmit)="onUpdateEmail()">
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">
                Change Email
                <button mat-icon-button class="update-btn" type="submit" matTooltip="Update email"
                  matTooltipClass="tooltip-black" *ngIf="emailForm.valid && isEmailChanged">
                  <mat-icon>refresh</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="emailForm.controls['email'].errors?.email">Email should be typed in right format.
                  </mat-error>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </form>
        </div>

        <div class="col l6 s12">
          <form [formGroup]="passwordForm" (ngSubmit)="verifyPassword()" *ngIf="!isConfirmed">
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">
                Change Password
                <button mat-icon-button class="update-btn" type="submit" matTooltip="Verify"
                  matTooltipClass="tooltip-black">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="passwordForm.controls['password'].errors?.minLength">Minimum 3 characters needed.
                  </mat-error>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </form>

          <form [formGroup]="confirmPasswordForm" (ngSubmit)="onUpdatePassword()" *ngIf="isConfirmed">
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">
                Change Password
                <button mat-icon-button class="update-btn" type="button" matTooltip="Go back"
                  matTooltipClass="tooltip-black" (click)="isConfirmed = false">
                  <mat-icon>arrow_back</mat-icon>
                </button>
                <button mat-icon-button class="change-password-btn" type="submit" matTooltip="Change password"
                  matTooltipClass="tooltip-black" *ngIf="confirmPasswordForm.valid">
                  <mat-icon>refresh</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="New Password" formControlName="newPassword"
                    [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="confirmPasswordForm.controls['newPassword'].errors?.minLength">Minimum 3 characters
                    needed</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Confirm Password" formControlName="confirmNewPassword"
                    [type]="hide ? 'password' : 'text'" [errorStateMatcher]="passwordMatcher">
                  <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="confirmPasswordForm.controls['confirmNewPassword'].errors?.minLength">Minimum 3
                    characters needed</mat-error>
                  <mat-error *ngIf="confirmPasswordForm.hasError('notSame')">Passwords do not match</mat-error>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </form>
        </div>

        <div class="col l6 s12">
          <form [formGroup]="nameForm" (ngSubmit)="onUpdateName()">
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">
                Change Name
                <button mat-icon-button class="update-btn" type="submit" matTooltip="Update name"
                  matTooltipClass="tooltip-black" *ngIf="nameForm.valid && isNameChanged">
                  <mat-icon>refresh</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Firstname" formControlName="firstname">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Lastname" formControlName="lastname">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </form>
        </div>

        <div class="col l6 s12">
          <form [formGroup]="deleteForm" (ngSubmit)="onBlock()">
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">
                Delete account
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Leave a reason" formControlName="reason"></textarea>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="delete-btn" type="button" color="warn" [disabled]="deleteForm.invalid"
                  (click)="openDeleteDialog()">Delete
                </button>
              </mat-card-actions>
            </mat-card>
          </form>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Preferences">
      <div class="row">
        <form [formGroup]="emailForm" (ngSubmit)="onUpdateEmail()">

          <div class="col l6 s12">
            <!--Date tile-->
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">Date Format</mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Date format">
                    <mat-option value="YYYY-MM-DD">YYYY-MM-DD</mat-option>
                    <mat-option value="MM-DD-YYYY">MM-DD-YYYY</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col l6 s12">
            <!--Map display tile-->
            <mat-card class="profile-card mat-elevation-z4">
              <mat-card-header class="update-header">Map display mode</mat-card-header>
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Map display">
                    <mat-option value="list">list</mat-option>
                    <mat-option value="thumbnail">thumbnail</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>

          <button mat-raised-button class="setting-btn" type="button" disabled color="primary">Save</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>