@import "~@angular/material/theming";
@include mat-core();
@import "materialize.css";
@import "themes/default-theme.scss";
@import "themes/light-theme.scss";
@import "themes/dark-theme.scss";
@import "themes/nature-theme.scss";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// deeppurple-amber.css | indigo-pink.css | pink-bluegrey.css | purple-green.css

@include angular-material-theme($app-theme);

.default-theme {
  @include angular-material-theme($app-theme);
}

.light-theme {
  @include angular-material-theme($app-light-theme);
}

.dark-theme {
  color: $light-primary-text;
  @include angular-material-theme($app-dark-theme);
}

.nature-theme {
  @include angular-material-theme($app-nature-theme);
}

*,
*:before,
*:after {
  // font-family: Roboto, Arial, sans-serif;
  font-family: Roboto, "Monda", sans-serif;
  box-sizing: initial;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.form-field {
  width: 100%;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

.tooltip-black {
  background: rgba($color: #000000, $alpha: 0.8);
}

.material-icons.md-18 {
  margin-top: -3px;
  font-size: 18px;
}

.material-icons.md-24 {
  margin-top: -3px;
  font-size: 24px;
}

.material-icons.md-30 {
  margin-top: -3px;
  font-size: 30px;
}

.material-icons.md-36 {
  margin-top: -3px;
  font-size: 36px;
}

.material-icons.md-48 {
  margin-top: -4px;
  font-size: 48px;
}
